body{
	position:relative;
}


.navbar{
	background: rgba(0, 0, 0, 0.5);
	font-size: 20px;
}

.navbar-brand{
	font-size: 25px;
}


.header-content-inner {
	  text-align: center;
	  width: 80%;
    margin-left: auto;
    margin-right: auto;
    color: white;
    position:relative;
    padding-top: 25%;
    padding-bottom: 25%;

}

.header-content {
 background-image: url(../images/background1.jpg);
 background-attachment: fixed;
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
 min-height: 500px;
}

.header-content h1 {
  color: rgba(0, 0, 0, 0.8);
	text-transform: uppercase;
	font-weight: 700;
	font-size: 65px;
}

.header-content a.btn {
	color: rgba(255, 255, 255, 0.9);
	background-color: rgba(0, 0, 0, 0.5);
	outline-color: none;
}


p {
	font-size: 20px;
}


#about{
	padding-left: 18%;
	padding-right:18%;
}



#about p{
	min-height: 370px;
}

#about a.btn {
  color:rgba(255, 255, 255, 0.8);
	font-size: 20px;
	min-width: 200px;
	background-color: rgba(0, 0, 0, 0.9);

}


.about-image {
	height: 500px;
	padding-right: 20px;
}


#portfolio{
	color: rgba(255, 255, 255, 0.8);
	background-color: rgba(0, 0, 0, 0.4);
	padding-left: 18%;
	padding-right:18%;
	padding-bottom:50px;
}

.portfolio-tab{
	padding-left: 18%;
	padding-right:18%;
	padding-top: 2%;
  padding-bottom: 2%;
	color: white;
}

.portfolio-tab a.btn{
	color:white;
	font-size:20px;
	min-width: 100px;

}

#portfolio-cmu{
	background-image: url(../images/portfolio-photos/carnegie-mellon.png);
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

#portfolio-ohsu{
	background-image: url(../images/portfolio-photos/ohsu.jpg);
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

#portfolio-senate{
	background-image: url(../images/portfolio-photos/senate.jpg);
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}


#artwork{
	padding-left: 18%;
	padding-right:18%;

}

#artwork a.btn {
  color:rgba(255, 255, 255, 0.8);
	font-size: 20px;
	min-width: 200px;
	background-color: rgba(0, 0, 0, 0.9);

}


#artwork div.text-sm-center{
	padding-bottom: 20px;
}
.carousel-caption{
	text-shadow: none;
	margin-bottom: 0px;
}

.carousel-caption h3 {
	font-size: 35px;
	color: rgba(255, 255, 255, 0.8);

}

.header-content h2{
	color: rgba(0, 0, 0, 0.5);
}

section {
    padding: 100px 0;
}

/* line breaks */

hr.light {
    border-color: #fff;
}

hr {
    max-width: 100px;
    border-color: #f05f40;
    border-width: 3px;
}
hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #eee;
}

.portfolio-image {
	  width: 200px;
    height: 200px;
}



.carousel {
	max-height: 500px;
}

.carousel-image {
  max-height:500px;
	min-height:500px;


}

#footer p{
	font-size:15px;
}

#footer{
  background-color: rgba(0, 0, 0, 0.4);
	padding-bottom:10px;
	padding-top:10px;
}
